{% extends "mediapp/base.html" %}
{% load staticfiles %}
{% block digitalmediacontent %}

<div class="row">
  {% for video in videos %}
     <div class=" col-md-3 ">
      <div class="thumbnail">
      {% if video.video %}
       <div>  <video controls="controls"class='img-responsive' style="width: 300px; height: 300px">

     <source src='{{ video.video.url }}'  type="video/mp4" />
   </video>
 </div>
               {% endif %}
               <div class="caption">
              <h1><a href ='{{ video.get_absolute_url }}'><a/> {{video.caption}} </h1>
             </div>
             </div>
            </div>
         {%endfor%}
       </div>

{%endblock%}